.root {
  touch-action: none;
  position: relative;
  height: 100%;
}

.inTransition {
  transition: transform 200ms;
  transition-timing-function: ease;
  pointer-events: none;
}

.transformed {
  position: absolute;
  z-index: 1;
}
.removed {
  display: none;
}
.dragged {
  z-index: 5000;
  position: fixed;
}
.resized {
  z-index: 5000;
  position: absolute;
}
.borrowed {
  opacity: 0.5;
}
