.root {
  touch-action: none;
  position: relative;
  height: 100%;
  display: grid;
}
.dragged {
  z-index: 5000;
  position: fixed;
}
.resized {
  z-index: 5000;
  position: absolute;
}
.borrowed {
  opacity: 0.5;
}
