/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use "../shared.scss" as shared;

.handle {
  cursor: nwse-resize;
  @include shared.handle();

  @include shared.with-direction("rtl") {
    cursor: nesw-resize;
  }
}

.active,
.active-uap {
  outline: none;
}
