{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:prettier/recommended",
    "plugin:no-unsanitized/DOM",
    "plugin:@vitest/legacy-recommended"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["unicorn", "react-hooks", "no-unsanitized", "header", "import", "simple-import-sort", "@vitest"],
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/consistent-type-definitions": ["error", "interface"],
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "react/display-name": "off",
    "react/no-danger": "error",
    "react/no-unstable-nested-components": [
      "error",
      {
        "allowAsProps": true
      }
    ],
    "react/forbid-component-props": [
      "warn",
      {
        "forbid": ["className", "id"]
      }
    ],
    "react/jsx-boolean-value": ["error", "always"],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "typeLike",
        "format": ["PascalCase"]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": ["error"],
    "unicorn/filename-case": "error",
    "curly": "error",
    "dot-notation": "error",
    "eqeqeq": "error",
    "no-return-await": "error",
    "require-await": "error",
    "header/header": [
      "error",
      "line",
      [" Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.", " SPDX-License-Identifier: Apache-2.0"]
    ],
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "react",
            "importNames": ["default"],
            "message": "Prefer named imports."
          },
          {
            "name": "@cloudscape-design/components",
            "message": "Prefer subpath imports."
          }
        ]
      }
    ],
    "import/no-useless-path-segments": [
      "warn",
      {
        "noUselessIndex": true
      }
    ],
    "simple-import-sort/imports": "warn",
    "@vitest/no-focused-tests": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "overrides": [
    {
      "files": ["**/__integ__/**", "./test/**"],
      "rules": {
        // useBrowser is not a React hook
        "react-hooks/rules-of-hooks": "off",
        "react-hooks/exhaustive-deps": "off"
      },
      "env": {
        "jest": true
      }
    },
    {
      "files": ["src/**", "pages/**", "test/**", "scripts/**"],
      "rules": {
        "simple-import-sort/imports": [
          "warn",
          {
            "groups": [
              // External packages come first.
              ["^react", "^(?!@cloudscape)@?\\w"],
              // Cloudscape packages.
              ["^@cloudscape"],
              // Things that start with a letter (or digit or underscore), or `~` followed by a letter.
              ["^~\\w"],
              // Anything not matched in another group.
              ["^"],
              // Styles come last.
              [
                "^.+\\.?(css)$","^.+\\.?(css.js)$", "^.+\\.?(scss)$", "^.+\\.?(selectors.js)$"
              ]
            ]
          }
        ]
      }
    }
  ]
}
