/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

.stone {
  border: 1px solid black;
  aspect-ratio: 1;
}

.stone.black {
  background-color: black;
}

.stone.white {
  background-color: white;
}

.block {
  background-color: brown;
  height: 150px;
}

.pixel {
  background-color: black;
  aspect-ratio: 1;
}

.dummy {
  background-color: #3f9fd9;
  height: 100%;
}
