/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
// plain `1fr` uses implicit `min-width: auto` which may overflow the container in some circumstances
// more details: https://css-tricks.com/preventing-a-grid-blowout/
$grid-col-width: minmax(0, 1fr);

.grid {
  display: grid;
  /* Matches GRID_GAP constant used for calculations. */
  gap: 20px;
  /* Matches ROWSPAN_HEIGHT constant used for calculations. */
  grid-auto-rows: 96px;
  grid-template-columns: repeat(var(--awsui-board-grid-columns), $grid-col-width);

  &-compact {
    gap: 16px;
    grid-auto-rows: 76px;
  }
}

.grid__item {
  display: block;
  position: relative;
}
