@use "../../../node_modules/@cloudscape-design/design-tokens/index.scss" as cs;

.handle {
  appearance: none;
  background: transparent;
  border: 2px solid transparent;
  padding: cs.$space-scaled-xxs cs.$space-static-xxs;

  color: cs.$color-text-interactive-default;

  &:hover {
    color: cs.$color-text-interactive-hover;
  }
}
