/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

.root {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
