/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use "../shared.scss" as shared;

.handle {
  cursor: grab;
}

.handle:active {
  cursor: grabbing;
}

.handle:not(.active):focus-visible {
  @include shared.focus-highlight();
}

.active,
.active-uap {
  outline: none;
}
