@use "../../node_modules/@cloudscape-design/design-tokens/index.scss" as cs;

@mixin focus-highlight($gutter: 4px, $border-radius: cs.$border-radius-control-default-focus-ring) {
  position: relative;
  box-sizing: border-box;
  outline: none;
  & {
    outline: 2px dotted transparent;
    outline-offset: calc($gutter - 1px);
  }
  &::before {
    content: " ";
    display: block;
    position: absolute;
    box-sizing: border-box;
    left: calc(-1 * #{$gutter});
    top: calc(-1 * #{$gutter});
    width: calc(100% + 2 * #{$gutter});
    height: calc(100% + 2 * #{$gutter});
    border-radius: $border-radius;
    border: 2px solid cs.$color-border-item-focused;
  }
}
