@use "../../node_modules/@cloudscape-design/design-tokens/index.scss" as cs;

.placeholder {
  border-radius: cs.$border-radius-container;
  height: 100%;
  &--active {
    background-color: cs.$color-board-placeholder-active;
  }
  &--hover {
    background-color: cs.$color-board-placeholder-hover;
  }
}

.root {
  /* used in test-utils */
}

.empty {
  box-sizing: border-box;
  width: 100%;
  padding: cs.$space-scaled-m cs.$space-scaled-l cs.$space-scaled-l;
  color: cs.$color-text-empty;
  display: flex;
  justify-content: center;
}

.current-operation-reorder {
  cursor: grabbing;
}

.current-operation-resize {
  cursor: nwse-resize;
}
