@use "../../node_modules/@cloudscape-design/design-tokens/index.scss" as cs;

.placeholder {
  border-radius: cs.$border-radius-container;
  block-size: 100%;
  &--active {
    background-color: cs.$color-board-placeholder-active;
  }
  &--hover {
    background-color: cs.$color-board-placeholder-hover;
  }
}

.root {
  /* used in test-utils */
}

.empty {
  box-sizing: border-box;
  inline-size: 100%;
  padding-block-start: cs.$space-scaled-m;
  padding-block-end: cs.$space-scaled-l;
  padding-inline: cs.$space-scaled-l;
  color: cs.$color-text-empty;
  display: flex;
  justify-content: center;
}
