/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use "../../node_modules/@cloudscape-design/design-tokens/index.scss" as cs;
@use "../internal/shared.scss" as shared;

.root {
  display: contents;
}

/* TODO: use container API instead of styles override */
.container-override.active {
  box-shadow: cs.$shadow-container-active;

  @include shared.focus-highlight(0px, cs.$border-radius-container);
}

.header {
  display: flex;
  justify-items: center;
  padding-block: cs.$space-scaled-s;
  padding-inline: calc(#{cs.$space-container-horizontal} - #{cs.$space-scaled-xs});
}

.flexible {
  flex: 1 1 min-content;
}

.handle {
  margin-block-start: calc(cs.$space-scaled-xxs + 1px);
  .refresh > & {
    margin-block-start: calc(cs.$space-static-xxxs + 1px);
  }
}

.header-content {
  margin-inline-start: cs.$space-scaled-xxs;
}

.settings {
  margin-block-start: calc(cs.$space-scaled-xxxs + 1px);
  margin-inline-start: cs.$space-static-xs;
  .refresh > & {
    margin-block-start: 0px;
  }
}

.fixed {
  flex: 0 0 auto;
}

.resizer {
  position: absolute;
  // offset for inner paddings in the handle
  inset-block-end: calc(#{cs.$space-static-xs} - #{cs.$space-static-xxxs});
  inset-inline-end: calc(#{cs.$space-static-xs} - #{cs.$space-static-xxxs});
}
