@use "../../node_modules/@cloudscape-design/design-tokens/index.scss" as cs;
@use "../internal/handle/styles.scss" as handle;

.root {
  display: contents;
}

/* TODO: use container API instead of styles override */
.container-override.active {
  box-shadow: cs.$shadow-container-active;

  :global([data-awsui-focus-visible]) & {
    @include handle.focus-highlight(0px, cs.$border-radius-container);
  }
}

.header {
  display: flex;
  justify-items: center;
  padding: cs.$space-scaled-s calc(#{cs.$space-container-horizontal} - #{cs.$space-scaled-xs});
}

.flexible {
  flex: 1 1 min-content;
}

.handle {
  margin-top: calc(cs.$space-scaled-xxs + 1px);
}

.header-content {
  margin-left: cs.$space-scaled-xxs;
}

.settings {
  margin-top: calc(cs.$space-scaled-xxxs + 1px);
  margin-left: cs.$space-static-xs;
}

.fixed {
  flex: 0 0 auto;
}

.resizer {
  position: absolute;
  // offset for inner paddings in the handle
  bottom: calc(#{cs.$space-static-xs} - #{cs.$space-static-xxxs});
  right: calc(#{cs.$space-static-xs} - #{cs.$space-static-xxxs});
}
