@use "../../node_modules/@cloudscape-design/design-tokens/index.scss" as cs;

.root {
  display: contents;
}

.active {
  /* TODO: use container API instead of styles override */
  div[class*="awsui_root_14iqq"] {
    box-shadow: cs.$shadow-container-active;
  }
}

.header {
  display: flex;
  justify-items: center;
  padding: cs.$space-scaled-s calc(#{cs.$space-container-horizontal} - #{cs.$space-scaled-xs});
}

.flexible {
  flex: 1 1 min-content;
}

.handle {
  margin-top: cs.$space-scaled-xxs;
}

.children {
  margin-left: 10px;
}

.settings {
  margin-top: cs.$space-scaled-xxxs;
  margin-left: cs.$space-static-xs;
}

.fixed {
  flex: 0 0 auto;
}

.resizer {
  position: absolute;
  // offset for inner paddings in the handle
  bottom: calc(#{cs.$space-scaled-s} - #{cs.$space-scaled-xxs});
  right: calc(#{cs.$space-scaled-s} - #{cs.$space-scaled-xxs});
}
