.palette {
  padding: 16px;
  border-radius: 4px;
  background-color: lightgray;
}

.demo-item-content {
  box-sizing: border-box;
  border: dashed 2px darkgray;
  border-radius: 4px;
  padding: 8px;
}
