@use "../../node_modules/@cloudscape-design/design-tokens/index.scss" as cs;

.placeholder {
  border-radius: cs.$border-radius-container;
  height: 100%;
  &--active {
    background-color: #eaeded;
  }
  &--hover {
    background-color: #99cbe4;
  }
}

.root {
  /* used in test-utils */
}

.empty {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
